<!DOCTYPE html>
<html lang="en">
<!-- Notice that instead of using <"%=" we used <"%-" -->
<!-- This is because <"%=" coverts the content into a string -->
<%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>All Blogs</h2>
        <!-- First up we will check if the array  of blogs is not empty -->
        <% if(blogs.length > 0) { %>  <!--Notice that we are putting the closing bracket in a different tag-->
            <% blogs.forEach(blog => { %>
                
                <h3 class="title"><%= blog.title %></h3>
                <p class="snippet"><%= blog.snippet%></p>

            <% }) %>
        <% } else {%>
            <p>No logs to display at the moment (；′⌒`)</p>
        <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>